.description {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    text-align: justify !important;
    text-transform: capitalize !important;
}